<nav class="navbar navbar-expand-lg navbar-light bg-light p-2">
  <div class="container">
    <a href="" class="navbar-brand d-flex align-items-center">
      <img src="../img/logo.webp" />
      <p class="offset-3 text-center">Gestao de Hospede</p>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#menuNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="menuNavbar">
      <div>
        <a href="../adicionar-hospede/">
          <button class="btn btn-light" id="cadastro_usuario">
            Cadastrar Hospede
          </button>
        </a>

        <a href="../editar-hospede">
          <button class="btn btn-light" id="atualizar_usuario">
            Atualizar Hospede
          </button>
        </a>
        <a href="../gestao-hospede">
          <button class="btn btn-light active" id="atualizar_usuario">
            Gestao de hospede
          </button>
        </a>
        <a href="../../dashboard" class="text-decoration-none">
          <button class="btn btn-light" id="home">Voltar pra a Home</button>
        </a>
      </div>
    </div>
  </div>
</nav>

<br />
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dado of listaDeHospedes">
      <!-- <td>{{dado.movId}}</td> -->
      <td>{{ dado.id }}</td>
      <td>{{ dado.nome }}</td>
      <td>{{ dado.email }}</td>
      <td>
        <button
          type="button"
          class="btn btn-outline-secondary me-3"
          style="
            --bs-btn-padding-y: 0.25rem;
            --bs-btn-padding-x: 0.5rem;
            --bs-btn-font-size: 0.75rem;
          "
          (click)="selectedIdBtn(dado.id)"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Excluir
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary me-3"
          style="
            --bs-btn-padding-y: 0.25rem;
            --bs-btn-padding-x: 0.5rem;
            --bs-btn-font-size: 0.75rem;
          "
          (click)="editarBtn(dado.id)"
        >
          Editar
        </button>
      </td>
    </tr>
  </tbody>
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Confirmar Exclusão
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          Deseja realmente excluir o hóspede Id: {{ selectedId }}?
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="deleteBtn(selectedId)"
            data-bs-dismiss="modal"
          >
            Excluir
          </button>
        </div>
      </div>
    </div>
  </div>
</table>

<footer
  class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
>
  <p class="col-md-4 mb-0 text-muted">&copy; 2022 Company, Inc</p>
</footer>
