<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <br />
    <!--  <h1>Registre um novo usuário</h1>
    <form>
      <div>
        <label for="newUserEmail">Email</label><br />
        <input
          type="email"
          name="newUserEmail"
          [(ngModel)]="newUserEmail"
        /><br /><br />
        <label for="newUserPassword">Senha</label><br />
        <input
          type="password"
          name="newUserPassword"
          [(ngModel)]="newUserPassword"
        /><br /><br />
        <label for="newUserPasswordConfirmation">Confirme a Senha</label><br />
        <input
          type="password"
          name="newUserPasswordConfirmation"
          [(ngModel)]="newUserPasswordConfirmation"
        /><br /><br />
      </div>
      <button id="Entrar" (click)="clickme()">Entrar</button>
    </form> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-2">
      <div class="container">
        <a href="" class="navbar-brand d-flex align-items-center">
          <img src="../img/logo.webp" />
          <p class="offset-3 text-center">Cadastro de Usuario</p>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#menuNavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="menuNavbar"
        >
          <div>
            <a href="./cadastro_usuario.html">
              <button class="btn btn-light active" id="cadastro_usuario">
                Cadastrar usuário
              </button>
            </a>

            <a href="../dashboard/" class="text-decoration-none">
              <button class="btn btn-light" id="home">Voltar pra a Home</button>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-9 vh-100">
          <form
            method="post"
            class="needs-validation"
            id="formCadastroUsuario"
            novalidate
          >
            <div class="row mt-3 p-3 g-2 text-black">
              <div class="col-6">
                <label for="email" class="form-label">E-mail</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="usuario@gmail.com"
                />
              </div>
              <div class="col-6">
                <label for="senha" class="form-label">Senha</label>
                <input
                  type="password"
                  class="form-control"
                  id="senha"
                  required
                  pattern="^(?=.*[0-9A-Za-z]).{5,8}$"
                />
                <div class="invalid-feedback text-black text-lg-center">
                  Informar uma senha com ao menos 5 caracteres alfanumericos,
                  exemplo: Ypua2023
                </div>
              </div>
              <div class="col-6">
                <label for="newUserPasswordConfirmation">Confirma Senha</label>
                <input
                  type="password"
                  class="form-control"
                  id="senha"
                  required
                  pattern="^(?=.*[0-9A-Za-z]).{5,8}$"
                />
                <div class="invalid-feedback text-black text-lg-center">
                  Informar uma senha com ao menos 5 caracteres alfanumericos,
                  exemplo: Ypua2023
                </div>
              </div>

              <div class="col-12">
                <div class="form-switch form-check form-check-inline">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    checked
                    id="ativo"
                  />
                  <label for="ativo" class="form-check-label"
                    >Usuário ativo</label
                  >
                </div>
                <div class="form-switch form-check form-check-inline"></div>
              </div>
            </div>
            <div class="text-center">
              <button
                class="btn btn-lg btn-dark"
                id="Entrar"
                (click)="clickme()"
              >
                Entrar
              </button>
              <br />
              <br />
            </div>
          </form>
        </div>
        <div class="col-3">
          <div class="row">
            <div class="col">
              <div class="card mt-5 g-2">
                <div class="card-body">
                  <p>
                    Aqui voce irá fazer o login com suas informações para ter
                    acesso ao sistema.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
